<div style="text-align: center">
    <h3>Inter Component Communication, Two Way Binding without ngModel, With ngModel Examples</h3>
</div>
<h4>{{str}}</h4>
<hr>
<h3>Example 2</h3>
<app-child (myEvent)= "str=$event" (toPrant) = "getData=$event" [inData]="sendData"></app-child>
<br>
<div>This data come from Child component : {{getData}}</div>
<br>
<hr>
<h3>Example 3</h3>
<br>
<div class="form-group">
    <label for="text">Enter Text For Two Way Binding :</label>
    <input type="text" class="form-control" [(ngModel)]="text">
</div>
<div>{{text}}</div>
<br>
<hr>
<h3>Example 3</h3>
<br>
<div class="form-group">
    <label for="text">Enter Text For Two Way Binding Use Event listeners :</label>
    <input type="text" class="form-control" (input)="getText($event)">
</div>
<div>{{text2}}</div>
<br>
<hr>